<!--底部-->
<div class="footer">
  <div class="foot_img">
    <ul class="foot_img_list">
      <li><img src="../images/全国联保.png"><span>全国联保</span></li>
      <li><img src="../images/质量保证.png"><span>质量保证</span></li>
      <li><img src="../images/价格保证.png"><span>价格保证</span></li>
      <li><img src="../images/7天退换.png"><span>7天退换</span></li>
      <li><img src="../images/万千口碑.png"><span>万千口碑</span></li>
    </ul>
  </div>
  <div class="foot_info">
    <div class="wrap">
      <div class="server">
        <dl>
          <dt>关于南方家具</dt>
          <dd>
            <a href="#">公司简介</a>
            <a href="#">媒体聚焦</a>
            <a href="#">体验馆</a>
            <a href="#">诚聘英才</a>
            <a href="#">招商加盟</a>
            <a href="#">联系我们</a>
          </dd>
        </dl>
        <dl>
          <dt>新手指南</dt>
          <dd>
            <a href="#">注册新用户</a>
            <a href="#">会员级别</a>
            <a href="#">金币说明</a>
            <a href="#">订购家具流程</a>
            <a href="#">体验馆购买指导</a>
          </dd>
        </dl>
        <dl>
          <dt>配送安装</dt>
          <dd>
            <a href="#">收货指南</a>
            <a href="#">体验馆服务费</a>
            <a href="#">物流配送</a>
          </dd>
        </dl>
        <dl>
          <dt>售后服务</dt>
          <dd>
            <a href="#">45天无理由退换货</a>
            <a href="#">如何申请退款</a>
            <a href="#">维修补件说明</a>
            <a href="#">贵就赔</a>
          </dd>
        </dl>
        <dl>
          <dt>购物保障</dt>
          <dd>
            <a href="#">正品保证</a>
            <a href="#">注册协议</a>
            <a href="#">隐私保护</a>
            <a href="#">免责声明</a>
          </dd>
        </dl>
      </div>
      <div class="foot_buttom">
        <p class="friend_link">友情链接：                </p>
        <p>
          <a  href="#">南方家具官网</a>
          <span>|</span>
          <a  href="#">招商加盟</a>
          <span>|</span>
          <a  href="#">网站声明</a>
          <span>|</span>
          <a  href="#">联系我们</a>
          <span>|</span>
          <a  href="#">站点地图</a>
          <span>|</span>
          <a  href="#">友情链接</a>
        </p>
        <p><a href="#" >闽ICP备XXXX号</a>©2017-2018南方家具集团股份有限公司</p>
      </div>
    </div>
  </div>
</div>
